
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex h-[600px] w-full flex-col items-center justify-center gap-2 text-[#777777]">
    <ion-icon name="sad-outline" class="size-24"></ion-icon>
    <span class="font-medium text-[48px]">Lỗi 404</span>
    <span class="text-[18px]">Không tìm thấy trang bạn cần tìm kiếm</span>
    <span class="text-[18px]">Vui lòng quay lại</span>
</div>
