
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="flex min-h-screen w-full items-center justify-center">
    <h2 class="text-[20px]">Bạn không có quyền truy cập</h2>
</div>

